 .App {
  text-align: center;
}

.mr-auto {
  padding: 10px;
  text-decoration: none !important
}

.trailList {
  list-style: none;
}

.buttons {
  background-color: #b4b387;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 12px;
}

.location {
  width: 400px;
  height: 50px;
  text-align: center;
}

/*
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

 */

.logo {
  /* width: 100%; */
  /* height: auto; */
}

.homepage, .signup, .login {
  /* background-color: orange; */
  background-image: url("./images/home-page-wallpaper1.jpg");
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  background-position: center; 
  background-size: 100%;
  height: 80vh;
  
}

.form {
  /* display: grid; */
  /* justify-content: center; */
  /* align-items: center; */
  height: 50vh;
}